<nav id="navbar">
    <div id="nav-title"><a href="/">The Crypto Club</a></div>
    <div id="nav-links-container">
        <div>Link</div>
        <div>Link</div>
        <div><a href="/register">Register</a></div>
    </div>
</nav>