/* Navbar  */
#navbar{
    display: flex;
    flex-direction: row;
    width: 100%;
}

#nav-title{
    width: 40%;
}

#nav-links-container{
    width: 60%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: right;
}
/* Navbar End */

/* Footer */
#footer{
    position: fixed;
    font-size: 0.6rem;
    padding: 5px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    font-size: var(--font-size);
}

#footer a{
    text-decoration: none;
    color: var(--text-color);
}
/* Footer End */
