:root{
    --primary-color: #38444d;
    --secondary-color: #373f45;
    --text-color: #fff;
    --alternate-text-color: #38444d;
    --box-shadow: #d7d7d7;
}

*{
    margin: 0;
    padding: 0;
}

#navbar{
    display: flex;
    flex-direction: row;
    min-height: 5vh;
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 5px;
    align-items: center;
}

#nav-title{
    width: 60%;
}

#nav-links-container{
    display: flex;
    width: 40%;
    flex-direction: row;
    gap: 20px;
    justify-content: right;
}

#navbar a{
    text-decoration: none;
    color: var(--text-color);
}